[submodule "qtile-extras"]
	path = qtile-extras
	url = https://github.com/elParaguayo/qtile-extras
[submodule "qtile"]
	path = qtile
	url = https://github.com/qtile/qtile
[submodule "fontawesome-python"]
	path = fontawesome-python
	url = https://github.com/justbuchanan/fontawesome-python.git
